<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>我的订单</title>
  <link rel="stylesheet" href="../src/static/lib/weui.css">
  <link rel="stylesheet" href="../src/static/css/jquery-weui.css">
<style>

*{
      -webkit-box-sizing:border-box;
  }
  body {
    font-family: '微软雅黑';
    background: #f0f0f0;
  }
</style>
</head>

<body>
  <div id="root">
    <app></app>
  </div>

  <script type="text/javascript" src="../src/build/common.js"></script>
  <script type="text/javascript" src="../src/build/app.js"></script>
</body>

</html>
